@page "/"

<PageTitle>Home</PageTitle>

<h1>Erick francisco!</h1>
<h2>  matricula : 2022 0023</h2>
Welcome to your new app.

<button class="btn btn-primary"><Icon Name="IconName.Eye"></Icon> Ver</button>

<button class="btn btn-primary"><Icon Name="IconName.Plus"></Icon> Nuevo</button>


<button class="btn btn-primary"><Icon Name="IconName.Pencil"></Icon> Modificar</button>

<button class="btn btn-primary"><Icon Name="IconName.Trash"></Icon> Eliminar</button>


<button class="btn btn-primary"><Icon Name="IconName.Arrow90DegLeft"></Icon> Volver</button>


<button class="btn btn-primary"><Icon Name="IconName.Floppy"></Icon> Guardar</button>


<button class="btn btn-primary"><Icon Name="IconName.Search"></Icon> Buscar</button>

